## HTPC SETUP
# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/New_York
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where data and configuration will be stored.
ROOT=/media

## UNMANIC SETUP
UNMANIC_LIB={REPLACE_WITH_MNT_LIB_DIR}
UNMANIC_CACHE={REPLACE_WITH_CACHE_DIR}

## IMMICH SETUP
# The location where your uploaded files are stored
UPLOAD_LOCATION={REPLACE_WITH_MNT_PHOTO_STORAGE_DIR}

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release

# Connection secrets for postgres and typesense. You should change these to random passwords
TYPESENSE_API_KEY='abcde'
DB_PASSWORD=abcde

# The values below this line do not need to be changed
###################################################################################
DB_HOSTNAME=immich_postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

REDIS_HOSTNAME=immich_redis


